Config { font = "xft:TerminessTTF Nerd Font:pixelsize=16"
       , additionalFonts = []
       , borderColor = "black"
       , border = TopB
       , bgColor = "#030405"
       , fgColor = "white"
       , alpha = 180
       , position = Top
       , textOffset = -1
       , iconOffset = -1
       , lowerOnStart = True
       , pickBroadest = False
       , persistent = False
       , hideOnStart = False
       , iconRoot = "."
       , allDesktops = True
       , overrideRedirect = True
       , commands = [ Run Weather "VHHH" ["-t"," HKIA: <tempC>C",
                                          "-L","18","-H","25",
                                          "--normal","green",
                                          "--high","red",
                                          "--low","lightblue"] 36000
                    , Run Cpu ["-L","3","-H","50",
                               "--normal","green","--high","red"] 10
                    , Run Memory ["-t","Mem: <usedratio>%"] 10
                    , Run Swap [] 10
                    , Run Com "uname" ["-s","-r"] "" 36000
                    , Run Date "%H:%M:%S %a %b%_d %Y" "date" 10
       		    , Run UnsafeStdinReader
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = "  %UnsafeStdinReader% }\
                    \{ <fc=#ee9a00>  %date%</fc>| %VHHH% | %memory% * %swap% |  %uname%"
       }
